@theme {
  /* Custom screens */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  /* Custom colors */
  --color-bright-red: hsl(12, 88%, 59%);
  --color-bright-red-light: hsl(12, 88%, 69%);
  --color-bright-red-suplight: hsl(12, 88%, 95%);
  --color-dark-blue: hsl(228, 39%, 23%);
  --color-dark-grayish-blue: hsl(227, 12%, 61%);
  --color-very-dark-blue: hsl(233, 12%, 13%);
  --color-very-pale-red: hsl(13, 100%, 96%);
  --color-very-light-gray: hsl(0, 0%, 98%);
}
